.create-post-form{
    border: 1px solid rgb(165, 123, 165);
    border-radius: 5px;
    padding:10px;
    margin:5px;
}
.submit-post{
    display: block;
}
textarea{
    width:90%;
    height:20%;
    border: 1px solid rgb(165, 123, 165);
    border-radius: 5px;
    margin: auto;
}
.submit-post{
    border: 1px solid rgb(201, 137, 159);
    border-radius: 5px;
    background-color: white;
    color: rgb(201, 137, 159);
} 
.submit-post:hover{
    background-color:rgb(201, 137, 159);
    color:white
}

.main-user-div{
    padding: 5px;
    margin:5px;
    margin-top: 15px;
    border: 1px solid rgb(201, 137, 159);
    border-radius: 5px;
}
.user-div{
    border-bottom: 1px solid rgb(165, 123, 165);
    font-size: 20px;
   
}
a{
    color: black;
    text-decoration: none;
    

}
.like-div{
    font-size: 15px;
}
.date-span{
    margin-left: 75%;
    font-size: 12px;
}
.follow-info{
    margin:10px;
    padding:5px;
    border: 1px solid rgb(201, 137, 159);
    border-radius: 5px;
}
.follow-btn{
    border: 1px solid rgb(77, 117, 155);
    border-radius: 5px;
    background-color: white;
    color: rgb(77, 117, 155);
} 
.follow-btn:hover{
    background-color:rgb(77, 117, 155);
    color:white
}

